*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Times New Roman", Times, serif;
}

.bg{
    background-image: url("https://w0.peakpx.com/wallpaper/600/989/HD-wallpaper-warm-fade-mix-red-orange-yellow-colorful.jpg");
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
}

.box1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #FCF9AC;
    opacity: 0.9;
    border-radius: 2%;
    padding-bottom: 100%;
}

.box2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #FCF9AC;
    opacity: 0.9;
    border-radius: 2%;
    padding-bottom: 0;
}

.box3{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #FCF9AC;
    opacity: 0.9;
    border-radius: 2%;
    padding-bottom: 100px;
}

.box4{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #FCF9AC;
    opacity: 0.9;
    border-radius: 2%;
    padding-bottom: 100%;
}

.nav{
    background-color: #FFB319;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    border-radius: 50px;
}

.nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #FFE61B;
    color: white;
}

.nav a.active{
    background-color: #4E9F3D;
    color: black;
}

.nav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.text2{
    padding: 50px;
    font-size: 20px;
}

p{
    text-indent: 50px;
    padding-bottom: 20px;
}

h2{
    padding-bottom: 30px;
    text-align: center;
}

h3{
    padding-bottom: 20px;
}

.cont{
    padding-top: 100px;
    text-align: center;
    font-size: 60px;
}

.space{
    padding-bottom: 150px;
}

h1{
    text-align: center;
    font-size: 60px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img{
    padding-bottom: 50px;
}